openapi: 3.0.1
info:
  title: ANIKU  PROYECTO FINAL
  description: Esta api se encargará de recoger los datos de los usuarios que sean registrados.
  version: 1.0.0
servers:
- url: https://api.moontravels/v1/clientes/
tags:
- name: usuarios
  description: Este endpoint maneja toda la información relacionada con los usuarios.
paths:
  "/User":
    post:
      tags:
      - usuarios
      summary: Introducir nuevo usuario en la BBDD.
      requestBody:
        content:
          application/json:
            schema:
              type: array 
              items:
              $ref: '#/components/schemas/BodyUsuariosPost'
        required: true
      responses:
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'
  "/User/id":
    get:
      tags:
        - usuarios
      summary: Obtiene la información de la base de datos de un usuario
      responses: 
        200: 
          description: (Ta bien) la información del usuario se obtuvo correctamente
         
components:
  responses:
    Unauthorized:
      description: (Unauthorized) no tienes autorización para este servicio
    NotFound: 
      description: (NotFound) no se ha encontrado la información
    BadRequest:
      description: (BadRequest) los datos enviados son incorrectos o hay datos requeridos no enviados
    ServerError:
      description: Error en el servidor
  schemas:
    BodyUsuariosPost:
      type: object
      properties:
        name:
          type: string
          description: Nombre del usuario
        email:
          type: string
          description: Correo del usuario
        password: 
          type: string
          description: Contraseña del usuario
        phone:
          type: number
          description: Teléfono del usuario
        dni:
          type: number
          description: DNI del usuario
  